  /*Smaller Screen - Mobile*/


  header {
    background-color: #2a75bb;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
  }

  #images-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #images-header img {
    width: 5em;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
    overflow: auto;
    height: auto;
  }

  #images-header #logo {
    width: 10em;
  }

  #text-header {
    color: #ffcb05;
    text-shadow:0 0 1px black;
    font-size: 1.5em;
    text-align: center;
  }

  #pokemon-selection, #type-coverage, #team-info {
    background-color:#3790e4;
    color: #ffcb05;
    text-shadow:0 0 1px black;
    border-radius: 20px;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    padding-top: 0em;
  }

  h2 {
    padding-top: 0.5em;
  }

  #pokemon-dropdown {
    margin-right: 1em;
  } 

  .pokemon-balls{
    width: 6.5em;
    height: 6.5em;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemon-bilder {
    width: 8.69em;
    height: 8.69em;
  }

  .pokemon-type {
    display: inline-block;
    width: 4em;
    height: 2.3em;
    text-align: center;
  }
  
  .pokemon-type-text {
    font-size: medium;
    font-weight: bold;
    color: white;
    border: rgba(255, 255, 255, .5) solid 2px;
    border-radius: 0.5em;
  }

  .pokemon-type-cell {
    width: 100%;
    border: 1px solid #ffcb05; /*Anfangssichtbarkeit geht wieder weg*/
  }

  .pokemon-name-text {
    font-size: 1em;
    font-weight: bold;
    text-shadow:0 0 1px black;
  }

  .types-div{
    display: flex;
    flex-direction: column;
  }

  .pokemon-type-cell select {
    width: 8em; 
  }

  .pokemon-type-cell button {
    width: 5em; 
    height: 2em;
  }

  .FlexBoxImageAndNameAndTyps {
    display: flex;
    flex-direction: row;
  }

  .FlexBoxNameAndTyps {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 2em;
  }

  .pokemon-abilities-dropdown {
    margin-bottom: 1em;
  }

  .pokemon-moves-dropdown {
    display: flex;
    flex-direction: column;
  }

  .DeleteAndItemDropdown {
    display: flex;
    flex-direction: column-reverse;
  }

  .pokemon-items-dropdown {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .btn.btn-danger {
    margin-left: auto; 
    margin-right: 1em;
    margin-bottom: 1em;
  }

  #team-details {
    display: flex;
    flex-direction: column;
  }

  #team-details-first-half {
    display: flex;
    flex-direction: column;
  }

  #team-details-second-half {
    display: flex;
    flex-direction: column;
  }

/*Bigger Screen - Desktop*/

@media (min-width: 80px) {
  #pokemon-table {
    width: 100%;
  }

  .pokemon-type-cell {
    width: 100%;
    border: 1px solid #ffcb05; /*Anfangssichtbarkeit geht wieder weg*/
  }

  .pokemon-bilder {
    width: 8.69em;
    height: 8.69em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemon-name-text {
    margin-top: 0em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-right: 0.5em;
    text-border: 1px solid black;
  }

  .types-div{
    display: flex;
    flex-direction: row;
  }

  .pokemon-type-cell select {
    width: 8em; 
    height: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemon-type-cell button {
    width: 5em; 
    height: 2em;
  }

  .FlexBoxImageAndNameAndTyps {
    display: flex;
    flex-direction: column;
  }

  .FlexBoxNameAndTyps {
    padding-left: 2em;
    padding-top: 0em;
    display: flex;
    flex-direction: row;
  }

  .pokemon-abilities-dropdown {
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemon-moves-dropdown {
    display: flex;
    flex-direction: column;
  }

  #moves-table {
    width: 8em; 
    margin-left: auto;
    margin-right: auto;
  }

  .DeleteAndItemDropdown {
    display: flex;
    flex-direction: column-reverse;
  }

  .pokemon-items-dropdown {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  #team-details {
    display: flex;
    flex-direction: column;
  }

  #team-details-first-half {
    display: flex;
    flex-direction: row;
  }

  #team-details-second-half {
    display: flex;
    flex-direction: row;
  }
  

}
