  /*Smaller Screen - Mobile*/

  body {
    background-color:;
  }

  header {
    background-color: #2a75bb;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
  }

  #images-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #images-header img {
    width: 5em;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
    overflow: auto;
    height: auto;
  }

  #images-header #logo {
    width: 10em;
  }

  #text-header {
    color: #ffcb05;
    text-shadow:0 0 1px black;
    font-size: 1.5em;
    text-align: center;
  }

  #pokemon-selection, #type-coverage, #team-info {
    background-color:#3790e4;
    color: #ffcb05;
    text-shadow:0 0 1px black;
    border-radius: 20px;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    padding-top: 0em;
  }

  #pokemon-table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pokemon-table img {
    width: 2em;
    height: 2em;
    overflow: auto;
    width: auto;
  }

  .pokemon-type-cell {
    border: 1px solid #ffcb05;
    overflow: auto;
    width: auto;
    position: center;
  }

  .pokemon-type-cell p {
    font-size: small;
  }

  .pokemon-type-cell select {
    width: 8em; 
  }

  .pokemon-type-cell button {
    width: 5em; 
    height: 2em;
    
  }

  .pokemon-abilities-dropdown {
    margin-bottom: 1em;
  }

  .pokemon-moves-dropdown {
    display: flex;
    flex-direction: column;
  }

/*Bigger Screen - Desktop*/

@media (min-width: 1280px) {

}
