  /*Smaller Screen - Mobile*/

  header {
    background-color: #2a75bb;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
  }

  header h1 {
    color: #ffcb05;
    text-shadow:0 0 1px black;
    font-size: 1em;
    padding-top: 0.1em;
  }

  #images-header {
    display: flex;
    flex-direction: row;
  }

  #images-header img {
    width: 5em;
    height: 5em;
    margin: 1em;
  }

/*Bigger Screen - Desktop*/