@media (max-width: 767px) {
  .navbar-brand {
    font-size: 20px;
  }

  .text_container {
    padding: 30px;
  }

  .text_container h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 28px;
  }

  .text_container {
    padding: 50px;
  }

  .text_container h1 {
    font-size: 36px;
  }
}

.container-fluid {
  background-color: aquamarine;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 50px;
}

.navbar-brand {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: black;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  background-color: antiquewhite;
}

.text_container {
  padding: 50px;
}

.text_container h1 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #2b2929;
}

.text_container p {
  margin-bottom: 15px;
  line-height: 1.5;
}

#home_section_id,
#news_section_id,
#about_section_id,
#contact_section_id {
  background-color: rgba(222, 184, 135, 0.126);
  color: #2b2929;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

.text_container {
  margin-top: 70px;
}

